html * {
  font-size: 1em;
  color: #000;
  font-family: Helvetica, Arial, Sans-serif;
}

body {
  padding: 20px;
}

#mainTbl {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 5px;
}

#mainTbl th {
  border: 1px solid black;
  vertical-align: top;
  text-align: left;
  font-weight: bold;
  background-color: rgba(255,60,20,0.3);
  font-size: 1.1em;
  padding-left: 10px;
}

#mainTbl td {
  border: 1px solid black;
  vertical-align: top;
  padding: 10px;
}

td:nth-child(even) {
  background: #f0f0f0;
}

tr:nth-child(2) td {
  font-weight: bold;
}

.spinner {
  background-image: url( 'shipitLogo.png' );
  width: 50px;
  height: 50px;
  animation: rotating-function 1.25s linear infinite;
  background-repeat: no-repeat;
  margin: 7px;
}

ul {
  padding-left: 2em;
  margin: 0;
}

li {
  padding-left: 1em;
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@page {
  size: landscape;
}

@media print {
  td {
    font-size: 150%;
  }
}
